.emoji {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: transparent;
    pointer-events: none;
}

.emoji--selected {
    background-color: white;
}

.emoji--stock {
    background-size: 4100%;
    background-image: url('../images/sprite-sheet.png');
}

.emoji--custom {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
