.palette {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    flex: 1;
}

.palette__emojis {
    flex: 1;
    overflow: auto;
    padding: 10px 0 0  10px;
}

.palette__emoji {
    display: inline-block;
    padding: 0 3px 3px 0;
    cursor: pointer;
    transition: all ease-out 100ms;
    transform-origin: center;
}

.palette__emoji:hover {
    transform: scale(1.1);
}

.palette__search {
    display: flex;
    padding: 10px 15px 10px 10px;
}

.palette__search-input {
    display: block;
    flex: 1;
    background: white;
    padding: 10px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    border: none;
}